.nav__top__container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  backdrop-filter: blur(10px);
}

.top__container {
  height: 100px;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  align-items: center;
  justify-content: space-between;
}

.form__container {
  width: 50%;
  min-height: 10px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: center;
}

.control__bar {
  align-self: center;
  height: auto;
  width: auto;
  z-index: 1000;
}

.drawer {
  display: none;
  height: auto;
  width: 80px;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 780px) {
  .control__bar {
    display: none;
  }

  .drawer {
    display: flex;
  }
}

.header_book_button {
  padding: 0.5rem;
  border: 1.5px solid #fff;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.top__container_right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header_book_button:hover {
  color: black;
  background-color: #fff;
}

@media screen and (max-width: 500px) {
  .nav__top__container {
    height: auto;
  }

  .form__container {
    display: none;
  }

  .top__container {
    justify-content: space-between;
  }

  .top__container_right {
    display: none;
  }
}