.services__category__container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.services__category__header {
    width: 86%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.services__category__header__big {
    height: auto;
}

.services__category__header__line {
    width: 100%;
    height: 6px;
    background-color: #FFE26E;
    align-self: flex-start;
    border-radius: 25px;
}

.services__category__card__container {
    height: auto;
    width: 100%;
    padding: 20px;
}

.services__category__product__card {
    height: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__category__product__card {
    height: auto;
    width: 100%;
}

.services__category__head {
    color: #b5a6a6;
}